<section class="about-game" >
  <div class="container ">
    <div class="wrapper-about-game">

<h2 class="section-title title" id="about">About game</h2>
<p class="text1">Step into a peaceful garden of petals and puzzles</p>
<p class="text2"><strong>Floral Master - Slide & Match</strong> is the ultimate floral-themed tile puzzle experience.Designed for those seeking mental stimulation and serenity, Floral Master invites you
to <strong>match flower tiles in satisfying sequences</strong> that blossom with every move</p>
<p class="text3">Whether you`re a <strong>casual gamer</strong> or a <strong>puzzle enthusiast</strong>, the elegant sliding mechanics and visually soothing environments will make every moment feel like a walk in the garden</p>
<p class="text4">Unlock new tiles, relax with every match, and
bloom your mind  as you journey through
this flower-filled adventure</p>
</div>
</div>
</section>