<div data-cookie-modal class="cookie-modal hidden">
   <img
        srcset="/img/logo@2x.png"
        src="/img/logo@1x.png"
        alt="logo"
        class="logo"
      />
    <h2 class="cookie-title">Cookies Policy</h2>
  <p class="cookie-text">
    We use cookies to improve your experience on our website.<br />
    By browsing this website, you agree to our use of cookies.
  </p>
  <div class="cookie-buttons">
    <button data-cookie-accept class="btn accept">Accept cookies</button>
    <button data-cookie-decline class="btn decline">Decline cookies</button>
  </div>
</div>
