<div class="cookie-modal" data-cookie-modal>
  <div class="cookie-wrapper">
  <img class="cookie-icon"
        srcset="/img/logo@2x.png"
        src="/img/logo@1x.png"
        alt="logo"
        class="logo"
      />
    <h2 class="cookie-title">Cookies Policy</h2>
    </div>
<div class="cookie-wrap">
    <div class="cookie-text-wrap">
  <p class="cookie-text">
  We use cookies to improve your experience on our website.
</p>
<p class="cookie-text">
  By browsing this website, you agree to our use of cookies.
</p>
</div>
  <div class="cookie-buttons">
    <button data-cookie-accept class="btn accept">Accept cookies</button>
    <button class="btn decline" data-cookie-decline>Decline cookies</button>
  </div>
  </div>

</div>
