<footer class="footer" id="footer-main">
  <div class="container">
    <div class="footer-contacts">
      <h3 class="footer-title">Contact with us</h3>
      <ul class="footer-list-contacts">
        <li class="footer-item-contacts">
          <a class="footer-link-contacts" href="https://cedargamestudio.com">
            <svg class="footer-icon">
              <use href="../img/icons/sprite.svg#icon-link"></use>
            </svg>
            cedargamestudio.com
          </a>
        </li>
        <li class="footer-item-contacts">
          <a class="footer-link-contacts" href="mailto:info@digitexa.pro">
            <svg class="footer-icon">
              <use href="../img/icons/sprite.svg#icon-mail"></use>
            </svg>
            info@digitexa.pro</a
          >
        </li>
        <li class="footer-item-contacts">
          <a
            class="footer-link-contacts"
            href="https://facebook.com/floralmastergame"
          >
            <svg class="footer-icon">
              <use href="../img/icons/sprite.svg#icon-facebook"></use>
            </svg>
            /floralmastergame</a
          >
        </li>
        <li class="footer-item-contacts">
          <a
            class="footer-link-contacts"
            href="https://instagram.com/floralmasterpuzzle"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer-icon">
              <use href="../img/icons/sprite.svg#icon-instagram"></use>
            </svg>
            @floralmasterpuzzle
          </a>
        </li>
      </ul>
    </div>
    <h3 class="footer-title">Legal & Access</h3>

    <div class="footer-wrapper">
      <p class="footer-resume">All rights reserved digitexa.pro | 2025</p>
      <ul class="footer-list-legal">
        <li class="footer-item-legal">
          <a class="footer-link-legal" href="./privace-police.html"
            >Privacy Policy</a
          >
        </li>
        <li class="footer-item-legal">
          <a class="footer-link-legal" href="./'terms-and-conditions.html"
            >Terms and Conditions</a
          >
        </li>
        <li class="footer-item-legal">
          <a class="footer-link-legal" href="./cookies-policy.html"
            >Cookies Policy</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
