<section id="gallery-main">
  <div class="container">
    <h2 class="Gallery-title">Gallery</h2>
    <ul class="Gallery-list">
      <li class="Gallery-item">
        <picture>
          <source
            srcset="
              ../img/gallery/FinalWrapper1-comp-1x.webp 1x,
              ../img/gallery/FinalWrapper1-comp-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../img/gallery/FinalWrapper-mobil-1-1x.webp 1x,
              ../img/gallery/FinalWrapper-mobil-1-2x.webp 2x
            "
            media="(max-width: 1199px)"
          />
          <img
            class="function-picture"
            src="../img/gallery/FinalWrapper-mobil-1-1x.webp"
            alt="FinalWrapper"
          />
        </picture>
      </li>
      <li class="Gallery-item">
        <picture>
          <source
            srcset="
              ../img/gallery/FinalWrapper2-comp-1x.webp 1x,
              ../img/gallery/FinalWrapper2-comp-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../img/gallery/FinalWrapper-mobil-2-1x.webp 1x,
              ../img/gallery/FinalWrapper-mobil-2-2x.webp 2x
            "
            media="(max-width: 1199px)"
          />
          <img
            class="function-picture"
            src="../img/gallery/FinalWrapper-mobil-2-1x.webp"
            alt="FinalWrapper"
          />
        </picture>
      </li>
      <li class="Gallery-item">
        <picture>
          <source
            srcset="
              ../img/gallery/FinalWrapper3-comp-1x.webp 1x,
              ../img/gallery/FinalWrapper3-comp-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../img/gallery/FinalWrapper-mobil-3-1x.webp 1x,
              ../img/gallery/FinalWrapper-mobil-3-2x.webp 2x
            "
            media="(max-width: 1199px)"
          />
          <img
            class="function-picture"
            src="../img/gallery/FinalWrapper-mobil-3-1x.webp"
            alt="FinalWrapper"
          />
        </picture>
      </li>
      <li class="Gallery-item">
        <picture>
          <source
            srcset="
              ../img/gallery/FinalWrapper4-comp-1x.webp 1x,
              ../img/gallery/FinalWrapper4-comp-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../img/gallery/FinalWrapper-mobil-4-1x.webp 1x,
              ../img/gallery/FinalWrapper-mobil-4-2x.webp 2x
            "
            media="(max-width: 1199px)"
          />
          <img
            class="function-picture"
            src="../img/gallery/FinalWrapper-mobil-4-1x.webp"
            alt="FinalWrapper"
          />
        </picture>
      </li>
      <li class="Gallery-item">
        <picture>
          <source
            srcset="
              ../img/gallery/FinalWrapper5-comp-1x.webp 1x,
              ../img/gallery/FinalWrapper5-comp-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../img/gallery/FinalWrapper-mobil-5-1x.webp 1x,
              ../img/gallery/FinalWrapper-mobil-5-2x.webp 2x
            "
            media="(max-width: 1199px)"
          />
          <img
            class="function-picture"
            src="../img/gallery/FinalWrapper-mobil-5-1x.webp"
            alt="FinalWrapper"
          />
        </picture>
      </li>
      <li class="Gallery-item">
        <picture>
          <source
            srcset="
              ../img/gallery/FinalWrapper6-comp-1x.webp 1x,
              ../img/gallery/FinalWrapper6-comp-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../img/gallery/FinalWrapper-mobil-6-1x.webp 1x,
              ../img/gallery/FinalWrapper-mobil-6-2x.webp 2x
            "
            media="(max-width: 1199px)"
          />
          <img
            class="function-picture"
            src="../img/gallery/FinalWrapper-mobil-6-1x.webp"
            alt="FinalWrapper"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
