<section class="home-section">

  <div class="container">
    <div class="section-wrapper">

    <h1 id="home">Floral Master – Slide & Match</h1>

    <h1 id="home">Floral Master - Slide & Match</h1>

    <p class="home-text">Discover the Art of Matching in a Garden of Tranquility</p>

    <div class="download-link">
      <a
        href="https://play.google.com/store/apps/details?id=com.cedargames.floralmaster&hl=en&gl=us"
        class="google-play-btn"
        target="_blank"
        rel="noopener noreferrer"
      >
      <span class="bold">Play Now</span>
        & Let Your Puzzle Bloom
      </a>
      <img class="google-play-icon"
        src="/img/home/play-market-icon.png"
        alt="Download from Google Play"
      />
    </div>
  </div>
<div class="decor-wrapper">
  <img
    src="/img/home/screen-black-mob.png"
    class="decor decor-black-mob"
    alt="Image of game"
  />
  <img
    src="/img/home/screen-green-mob.png"
    class="decor decor-green-mob"
    alt="Image of game"
  />

  <img
    src="/img/home/screen-green-desk.png"
    class="decor decor-green-desk"
    alt="Image of game"
  />
  <img
    src="/img/home/screen-black-desk.png"
    class="decor decor-black-desk"
    alt="Image of game"
  />
</div>
  </div>

</section>
