<section class="home-section" id="home">
    <div class="container">
<div class="screen-green-mob"></div>
<div class="screen-black-mob"></div>
<div class="screen-green-desc"></div>
<div class="screen-black-desc"></div>

 <!-- <div class="overlay-shape"></div> -->


    <div class="section-wrapper">
      <h1 id="home">Floral Master - Slide & Match</h1>
      <div>

        
      <div class="home-text">
      <p >Discover the Art of</p>
 <p >Matching in a Garden of Tranquility</p>
      </div>
      <div class="download-link">

        <a
          href="https://play.google.com/store/apps/details?id=com.cedargames.floralmaster&hl=en&gl=us"
          class="google-play-btn decor-btn"
          target="_blank"
          rel="noopener noreferrer"
        >

        <div class="link-decor">
<div class="bg-flowers left-flower"></div>
<div class="bg-flowers right-flower"></div>
<div class="bg-leavs left-leaf"></div>
<div class="bg-leavs right-leaf"></div>

</div>

          <span class="bold">Play Now</span>
          & Let Your Puzzle Bloom
        </a>
        <img
          class="google-play-icon"
          src="/img/home/play-market-icon.png"
          alt="Download from Google Play"
        />

      </div>
    </div>


    <!-- <div class="decor-wrapper">
      <img
        src="/img/home/screen-black-mob.png"
        class="decor decor-black-mob"
        alt="Image of game"
      />
      <img
        src="/img/home/screen-green-mob.png"
        class="decor decor-green-mob"
        alt="Image of game"
      />


      <img
        src="/img/home/screen-green-desk.png"
        class="decor decor-green-desk"
        alt="Image of game"
      />
      <img
        src="/img/home/screen-black-desk.png"
        class="decor decor-black-desk"
        alt="Image of game"
      />
    </div> -->

  </div>

  </div>
</section>
