<section class="how-to-play" id="how-play">
  <div class="container decor">
    <img
      src="../img/dekor/Flower-to-how.webp"
      alt="Flower"
      class="background-flower"
    />
    <h2 class="how-title">How to Play</h2>
    <ul class="how-list">
      <li class="how-item">
        <img src="/img/how-play/Flowers-blue-1.webp" alt="Flower blue" />
        <div class="how-text-picture">
          <p class="how-text">
            <span class="color blue">Slide Flower Tiles:</span> Move identical
            tiles into each other along open paths.
          </p>
        </div>
      </li>
      <li class="how-item">
        <img src="/img/how-play/Flowers-pink-2.webp" alt="Flower pink" />
        <div class="how-text-picture">
          <p class="how-text">
            <span class="color pink">Use Helpful Tools:</span> Tap the hint,
            shuffle, or shovel if you're ever stuck.
          </p>
        </div>
      </li>
      <li class="how-item">
        <img src="/img/how-play/Flowers-violet-3.webp" alt="Flower violet" />
        <div class="how-text-picture">
          <p class="how-text">
            <span class="color violet">Clear the Board: </span> Make strategic
            matches to remove all tiles.
          </p>
        </div>
      </li>
      <li class="how-item">
        <img src="/img/how-play/Flowers-yellow-4.webp" alt="Flower yellow" />
        <div class="how-text-picture">
          <p class="how-text">
            <span class="color yellow">Perfect the Garden:</span> Earn stars by
            completing levels with minimal moves.
          </p>
        </div>
      </li>
      <li class="how-item">
        <img src="/img/how-play/Flowers-red-5.webp" alt="Flower red" />
        <div class="how-text-picture">
          <p class="how-text">
            <span class="color red">Unlock New Themes: </span> Progress through
            levels to access new tile visuals and floral settings.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
