<section id="reviews-main">
  <div class="Container">
    <h2 class="reviews-title">User Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-item">
        <picture>
          <source
            srcset="
              ../img/gallery/FinalWrapper1-comp-1x.webp 1x,
              ../img/gallery/FinalWrapper1-comp-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../img/gallery/FinalWrapper-mobil-1-1x.webp 1x,
              ../img/gallery/FinalWrapper-mobil-1-2x.webp 2x
            "
            media="(max-width: 1199px)"
          />
          <img
            class="function-picture"
            src="../img/gallery/FinalWrapper-mobil-1-1x.webp"
            alt="User reviews"
            width="282"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
