<section id="review-main">
  <div class="container">
    <h2 class="review-title">User Reviews</h2>
    <div class="review-wrapper">
      <ul class="review-list">
        <!-- <div class="review-first-block"> -->
        <li class="review-item">
          <div class="review-info">
            <img src="/img/user-reviews/Anna-1.webp" alt="icon" class="icon" />
            <span class="review-text">Anna R., Puzzle Lover:</span>
            <img
              src="/img/user-reviews/5stars-mobil-png.png"
              alt="5 stars"
              class="stars"
            />
          </div>
          <picture>
            <source
              srcset="
                /img/user-reviews/card1-comp-1x.webp 1x,
                /img/user-reviews/card1-comp-2x.webp 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/user-reviews/card1-mobil-1x.webp 1x,
                /img/user-reviews/card1-mobil-2x.webp 2x
              "
              media="(max-width: 1199px)"
            />
            <img
              class="function-picture"
              src="/img/user-reviews/card1-mobil-1x.webp"
              alt="User reviews"
              width="226"
            />
          </picture>
        </li>
        <li class="review-item">
          <div class="review-info">
            <img src="/img/user-reviews/Talia-2.webp" alt="icon" class="icon" />
            <span class="review-text">Talia K., Match Master:</span>
            <img
              src="/img/user-reviews/5stars-mobil-png.png"
              alt="5 stars"
              class="stars"
            />
          </div>
          <picture>
            <source
              srcset="
                /img/user-reviews/card2-comp-1x.webp 1x,
                /img/user-reviews/card2-comp-2x.webp 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/user-reviews/card2-mobil-1x.webp 1x,
                /img/user-reviews/card2-mobil-2x.webp 2x
              "
              media="(max-width: 1199px)"
            />
            <img
              class="function-picture"
              src="/img/user-reviews/card2-mobil-1x.webp"
              alt="User reviews"
              width="226"
            />
          </picture>
        </li>
        <li class="review-item">
          <div class="review-info">
            <img src="/img/user-reviews/Ethan-3.webp" alt="icon" class="icon" />
            <span class="review-text">Ethan G., Offline Player:</span>
            <img
              src="/img/user-reviews/5stars-mobil-png.png"
              alt="5 stars"
              class="stars"
            />
          </div>
          <picture>
            <source
              srcset="
                /img/user-reviews/card3-comp-1x.webp 1x,
                /img/user-reviews/card3-comp-2x.webp 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/user-reviews/card3-mobil-1x.webp 1x,
                /img/user-reviews/card3-mobil-2x.webp 2x
              "
              media="(max-width: 1199px)"
            />
            <img
              class="function-picture"
              src="/img/user-reviews/card3-mobil-1x.webp"
              alt="User reviews"
              width="226"
            />
          </picture>
        </li>
        <li class="review-item item4">
          <div class="review-info">
            <img src="/img/user-reviews/Devon-4.webp" alt="icon" class="icon" />
            <span class="review-text">Devon T., Tile Game Fan:</span>
            <img
              src="/img/user-reviews/4stars.png"
              alt="4 stars"
              class="stars1"
            />
          </div>
          <picture>
            <source
              srcset="
                /img/user-reviews/card4-comp-1x.webp 1x,
                /img/user-reviews/card4-comp-2x.webp 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/user-reviews/card4-mobil-1x.webp 1x,
                /img/user-reviews/card4-mobil-2x.webp 2x
              "
              media="(max-width: 1199px)"
            />
            <img
              class="function-picture"
              src="/img/user-reviews/card4-mobil-1x.webp"
              alt="User reviews"
              width="226"
            />
          </picture>
        </li>
        <li class="review-item">
          <div class="review-info">
            <img src="/img/user-reviews/Mira-5.webp" alt="icon" class="icon" />
            <span class="review-text">Mira L., Mom & Gamer:</span>
            <img
              src="/img/user-reviews/5stars-mobil-png.png"
              alt="5 stars"
              class="stars"
            />
          </div>
          <picture>
            <source
              srcset="
                /img/user-reviews/card5-comp-1x.webp 1x,
                /img/user-reviews/card5-comp-2x.webp 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/user-reviews/card5-mobil-1x.webp 1x,
                /img/user-reviews/card5-mobil-2x.webp 2x
              "
              media="(max-width: 1199px)"
            />
            <img
              class="function-picture"
              src="/img/user-reviews/card5-mobil-1x.webp"
              alt="User reviews"
              width="226"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
