.swiper {
  position: relative;
  width: 100%;
  padding-bottom: 50px !important;
}

.swiper-wrapper.card-wrapper {
  display: flex;
}

.swiper-slide.adv-wrapp {
  display: flex;
  flex-direction: column;
  background-color: var(--cards);
  border-radius: 6px;
  box-shadow: inset 4px -4px 2px 0 rgba(0, 0, 0, 0.12);
  padding: 16px;
  flex-shrink: 0;
  height: auto;
  transition: transform 0.3s ease;
  margin: 0;
  min-height: 156px;
  justify-content: center;
  align-items: flex-start;

  @media (min-width: 1200px) {
    min-height: 214px;
    padding: 32px;
    border-radius: 16px;
  }
}
.adv-text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  line-height: 1.5;
  color: var(--text-color-for-cards);
  @media (min-width: 1200px) {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.7;
  }
}

.swiper-controls {
  margin-top: 24px;
  display: flex;
  justify-content: center;

  @media (min-width: 1200px) {
    margin-top: 40px;
  }
}

.swiper-buttons {
  position: static;
  left: 0;
  display: flex;
  align-items: center;
  width: auto;
  gap: 10px;
  justify-content: space-around;
  transform: translateY(-50%);
  z-index: 2;
  @media (min-width: 1200px) {
    justify-content: center;
    gap: 130px;
  }
}

.swiper-buttons .icon {
  width: 16px;
  height: 16px;
  color: var(--footer-color);
  pointer-events: auto;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
  @media (min-width: 1200px) {
    width: 20px;
    height: 34px;
  }
}

.swiper-buttons .icon:hover,
.swiper-buttons .icon:active {
  color: var(--cards);
  transform: scale(1.1);
}

.icon-prev {
  transform: rotate(180deg);
}
.swiper-pagination {
  display: flex;
  position: absolute;
  text-align: center;
  bottom: 5px;
  left: 28%;
  width: 100%;
  @media (min-width: 1200px) {
    left: 45.3%;
    bottom: 14px;
  }
}

.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  background-color: var(--cards);
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px;
  opacity: 1;
  transition: background-color 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #8bad8e;
}

.section {
  position: relative;
  overflow: hidden;
}

/* Decoration */

.advantages {
  position: relative;
  overflow: hidden;
}

.decor-adv {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
  /* opacity: .2; */
  width: 67px;
  height: 67px;
  background-image: url('../img/advantages/leaf-adv-mob.png');
}

@media (min-width: 1200px) {
  .decor-adv {
    width: 150px;
    height: 150px;
    background-image: url('../img/advantages/leaf-adv-desc.png');
  }
}

.adv-left-top-mob {
  top: -10px;
  left: -33px;
  transform: rotate(30deg);
}

.adv-left-bottom-mob {
  bottom: 25px;
  left: -25px;
  transform: rotate(120deg);
}

.adv-right-top-mob {
  top: 10px;
  right: -28px;
  transform: rotateY(180deg) rotate(30deg);
}

.adv-right-bottom-mob {
  bottom: 16px;
  right: -28px;
  transform: rotateY(180deg) rotate(130deg);
}
.adv-left-top-desc,
.adv-left-bottom-desc,
.adv-right-top-desc,
.adv-right-bottom-desc {
  display: none;
}

@media (min-width: 1200px) {
  .adv-left-top-mob,
  .adv-left-bottom-mob,
  .adv-right-top-mob,
  .adv-right-bottom-mob {
    display: none;
  }
  .adv-left-top-desc,
  .adv-left-bottom-desc,
  .adv-right-top-desc,
  .adv-right-bottom-desc {
    display: block;
  }
}


.adv-left-top-desc {
  top: -10px;
  left: -73px;
  transform: rotate(30deg);
}


.adv-left-bottom-desc {
  bottom: 25px;
  left: -65px;
  transform: rotate(120deg);
}


.adv-right-top-desc {
  top: -60px;
  right: -68px;
  transform: rotateY(180deg) rotate(30deg);
}


.adv-right-bottom-desc {
  bottom: -20px;
  right: -48px;
  transform: rotateY(180deg) rotate(130deg);
}

/* Декор
.advantages {
  position: relative;
  overflow: hidden;
}

.decor-leaf {
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url('/img/dekor/leaf-mobil.webp');
  background-size: contain;
  background-repeat: no-repeat;
  width: 66px;
  height: 66px;
  z-index: 0;
  opacity: 1;
  pointer-events: none;
}

@media (min-width: 1200px) {
  .decor-leaf {
    width: 150px;
    height: 150px;
  }
  .decor-top-left {
    transform: translate(calc(-50% - 620px), calc(-50% - 445px)) rotate(40deg);
  }

  .decor-top-right {
    transform: translate(calc(-50% + 620px), calc(-50% - 445px)) rotate(-55deg);
  }

  .decor-bottom-right {
    transform: translate(calc(-50% + 620px), calc(-50% - 145px)) rotate(-140deg);
  }

  .decor-bottom-left {
    transform: translate(calc(-50% - 620px), calc(-50% - 145px)) rotate(125deg);
  }
} */
