.container {
  overflow: hidden;
}

.adv-wrapp {
  background-color: var(--cards);
  box-shadow: inset 4px -4px 2px 0 rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  padding: 12px;
  /* margin: 0 auto; */
  flex-shrink: 0;
  height: auto;
  min-height: 146px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 136px;
  box-sizing: border-box;
  /* width: 126px;
    height: 146px; */
  @media (min-width: 1200px) {
    border-radius: 16px;
    padding: 25px 32px;
    /* width: 332px;
    height: 146px; */
    max-width: 352px;
    min-height: 214px;
  }
}
.swiper {
  width: 100%;
}
.swiper-wrapper {
  max-width: 100%;
  display: flex;
}
.swiper-slide {
  width: 100%;
  box-sizing: border-box;
}

.adv-text {
  color: var(--text-color-for-cards);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  margin: 0;
  @media (min-width: 1200px) {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.7;
  }
}

.swiper-pagination {
  margin-top: 20px;
  text-align: center;
  position: static;
}

.swiper-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  max-width: 360px;
  margin-inline: auto;
}

.swiper-button-prev,
.swiper-button-next {
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.icon {
  width: 16px;
  height: 16px;
  color: var(--cards);
  @media (min-width: 1200px) {
    width: 20px;
    height: 34px;
  }
}

.icon-prev {
  transform: rotate(180deg);
}
.icon :hover,
.icon :active {
  fill: var(--footer-color);
}

/* Decorations */

.advantages {
  position: relative;
  overflow: hidden;
}
.decor-leaf {
  position: absolute;
  background-image: url('../img/dekor/leaf-mobil.webp');
  background-size: contain;
  background-repeat: no-repeat;
  width: 66px;
  height: 66px;
  z-index: 0;
  pointer-events: none;
}
.decor-top-left {
  top: -30px;
  left: -30px;
  transform: rotate(35deg);
}

/* background-position-x: calc(50% + 120px) */

.decor-top-right {
  top: -30px;
  right: -30px;
  transform: rotate(-55deg);
}

.decor-bottom-right {
  bottom: -30px;
  right: -30px;
  transform: rotate(-139deg);
}

.decor-bottom-left {
  bottom: -30px;
  left: -30px;
  transform: rotate(111deg);
}
@media (min-width: 1200px) {
  .decor-leaf {
    width: 150px;
    height: 150px;
    background-image: url('../img/dekor/leaf-comp.webp');
  }
  .decor-top-left {
    top: -50px;
    left: -50px;
    transform: rotate(41deg);
  }

  .decor-top-right {
    top: -50px;
    right: -50px;
  }

  .decor-bottom-right {
    bottom: -50px;
    right: -50px;
  }

  .decor-bottom-left {
    bottom: -50px;
    left: -50px;
    transform: rotate(125deg);
  }
}

/* .swiper-button-prev,
.swiper-button-next {
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--accent-color);
} */
