:root {
  --cards: #3d7142;
  --for-gallery-card: #fff9cc;
  --text-color: #2f3e34;
  --text-color-for-cards: #fff;
  --background: #edf7f0;
  --footer-color: #a2c5a5;

  --font-family: 'Nunito', sans-serif;

  --swiper-theme-color:  #3d7142;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  box-sizing: border-box;
  color: var(--text-color);
  line-height: 1.6;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

.section-title {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 24px;

  @media (min-width: 1200px) {
    font-size: 38px;
    margin-bottom: 32px;
  }
}

section {
  width: 100%;
  padding-block: 25px;
  scroll-margin-top: 30px;
  @media (min-width: 1200px) {
    padding-block: 50px;
    scroll-margin-top: 72px;
  }

  .decor-leaf {
    position: absolute;
    background-image: url('/img/dekor/leaf-mobil.webp');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
    pointer-events: none;
    @media (min-width: 1200px) {
      background-image: url('/img/dekor/leaf-comp.webp');
    }
  }
}
