.Gallery-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.7;
  margin-bottom: 24px;
  text-align: center;
}
.Gallery-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
  row-gap: 32px;
}
.Gallery-item img {
  border-radius: 6px;
  min-width: 136px;
  min-height: 237px;
  width: 100%;
  height: auto;
  /* box-shadow: -3px 3px 11px 0 rgba(0, 0, 0, 0.15); */
  display: block;
}

@media (min-width: 1200px) {
  .Gallery-title {
    font-size: 38px;
    line-height: 1;
  }
  .Gallery-list {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 32px;
  }
  .Gallery-item img {
    border-radius: 16px;
    min-width: 283px;
    min-height: 380px;
    width: 100%;
    height: auto;
    /* box-shadow: -6px 6px 24px 0 rgba(0, 0, 0, 0.15); */
  }
  .Gallery-item img:hover,
  .Gallery-item img:focus {
    height: 450px;
    box-shadow: -6px 6px 12px 0 rgba(0, 0, 0, 0.15);
  }
}
