.home-section {
  width: 100%;
  position: relative;
  z-index: 1;
  background-image: url(/img/home/background-blur.png);
  background-position: center top;
   /* background-position: calc(50% - 30px) calc(0% - 10px); */
  background-repeat: no-repeat;
  background-size: cover;
  min-height: auto;
  padding-block: 6px;
  padding-top: 70px;
  padding-right: 35px;
  padding-bottom: 94px;
  overflow: hidden;
transition: background-position 0.4s ease-in-out;
  @media (min-width: 1200px) {
    background-position: center top;
    background-size: contain;
    /* min-height: auto; */
    scroll-margin-top: 72px;
    padding-top: 212px;
    padding-bottom: 310px;
  }
}

/* Decorative elements */

@media (min-width: 320px) and (max-width: 1199px) {
  .screen-green-mob {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    pointer-events: none;
    background-image: url('../img/home/screen-green-mob.png');
    width: 52px;
    height: 102px;
    transform: rotate(9deg);
    top: 59%;
    right: 22%;
  }
  .screen-black-mob {
    position: absolute;
    background-image: url('../img/home/screen-black-mob.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 52px;
    height: 102px;
    z-index: 0;
    pointer-events: none;
    transform: rotate(-10deg);
    top: 50%;
    right: 5%;
  }
}

@media (min-width: 1200px) {
  .screen-green-desc {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    pointer-events: none;
    background-image: url('../img/home/screen-green-desk.png');
    width: 250px;
    height: 400px;
    top: 25%;
  }
  .screen-black-desc {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
    pointer-events: none;
    background-image: url('../img/home/screen-black-desk.png');
    width: 260px;
    height: 480px;
    top: 30%;
    left: 73%;

  }
}

.link-decor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.google-play-btn {
  position: relative;
  /* overflow: visible; */
}

.download-link {
  position: relative;
  display: inline-block;
}

.download-link::before,
.download-link::after,
.download-link:hover::before,
.download-link:hover::after,
.download-link:active::before,
.download-link:active::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
}

.download-link::before,
.download-link:active::before {
  background-image: url('/img/flowers-left.png');
  top: 12px;
  left: calc(50% - 85px);
  transform: rotate(-11deg);
  @media (min-width: 1200px) {
    top: 30px;
    left: calc(50% - 200px);
  }
}

.download-link::after,
.download-link:active::after {
  background-image: url('/img/flowers-right.png');
  top: -6px;
  left: calc(50% + 60px);
  transform: rotate(-11deg);
  @media (min-width: 1200px) {
    top: -12px;
    left: calc(50% + 145px);
  }
}

.download-link:hover::before {
  background-image: url('/img/leaves-left.png');
  top: 12px;
  left: calc(50% - 85px);
  transform: rotate(-11deg);
  @media (min-width: 1200px) {
    top: 30px;
    left: calc(50% - 200px);
  }
}

.download-link:hover::after {
  background-image: url('/img/leaves-right.png');
  top: -6px;
  left: calc(50% + 60px);
  transform: rotate(-11deg);
  @media (min-width: 1200px) {
    top: -12px;
    left: calc(50% + 145px);
  }
}

@media (min-width: 1200px) {
  .download-link::before,
  .download-link::after,
  .download-link:hover::before,
  .download-link:hover::after,
  .download-link:active::before,
  .download-link:active::after {
    width: 54px;
    height: 54px;
  }

  .download-link::before,
  .download-link:active::before {
    top: 30px;
    left: calc(50% - 200px);
  }
  .download-link:hover::before {
    top: 30px;
    left: calc(50% - 200px);
  }
  .download-link::after,
  .download-link:active::after {
    top: -12px;
    left: calc(50% + 145px);
  }
  .download-link:hover::after {
    top: -12px;
    left: calc(50% + 145px);
  }
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0;
  width: 100%;
  max-width: 257px;
  padding-bottom: 10px;

  @media (min-width: 1200px) {
    margin-inline: auto;
    align-items: center;
    justify-content: center;
    max-width: 597px;
  }
}

h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 18px;
  color: var(--text-color-for-cards);
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  width: 100%;
  margin-bottom: 12px;

  @media (min-width: 1200px) {
    font-size: 40px;
    line-height: 0.85;
    margin-bottom: 24px;
    margin-inline: auto;
    width: max-content;
  }
}

.home-text {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--text-color-for-cards);
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  width: 100%;
  margin-bottom: 12px;

  @media (min-width: 1200px) {
     flex-direction: row;
    font-size: 24px;
    line-height: 1.42;
    margin-bottom: 48px;
  }
}

.download-link {
  position: relative;
  z-index: 1;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 7px;
  padding: 14px 16px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.52);
  border-radius: 20px;
  background-color: var(--text-color-for-cards);
  text-decoration: none;
  margin-top: 12px;
  width: 164px;
  height: 30px;
  transition: fill 0.3s ease, transform 0.3s ease;
  @media (min-width: 1200px) {
    font-size: 16px;
    gap: 12px;
    padding: 16px 24px;
    width: 383px;
    height: 70px;
    border-radius: 50px;
    margin-inline: auto;
  }
}
.download-link:hover {
  background: var(--background);
}
.download-link:active {
 background: var(--for-gallery-card);
}


.google-play-icon {
  width: 12px;
  height: 13px;
  @media (min-width: 1200px) {
    width: 28px;
    height: 31px;
  }
}
.google-play-btn {
  display: flex;
  align-items: center;
  height: 100%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  line-height: 1.2;
}
.google-play-btn .bold {
  font-weight: 700;
}
