.home-section {
  position: relative;
  z-index: 1;
   background-image:url(/img/home/background-blur.png);
 /* background-image:url(/img/home/background-home.png); */
 background-position: center top;
  background-repeat:no-repeat;
  background-size: cover;

  /* background-image: url(/img/home/background-grey.png),
    url(/img/home/background-home.png);
  background-position: -140px -26px, center top;
  background-repeat: no-repeat, no-repeat;
  background-size: 120% 105%, cover; */

  min-height: auto;
  padding-block: 6px;
  padding-top: 70px;
  padding-right: 35px;
  padding-bottom: 106px;
  overflow: hidden;

  @media (min-width: 1200px) {
     background-position: -140px -26px, center top;
    background-size: 120% 105%, cover;
    min-height: 100vh;
    scroll-margin-top: 72px;
    padding-top: 212px;
    padding-bottom: 316px;
  }
}

/*
.home-section::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
min-height: 100vh;
  background: url(/img/home/background-grey.png);
  background-repeat: no-repeat;
  background-position: center top;
  z-index: 1;
  pointer-events: none;
} */

.section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0;
  width: 100%;
  max-width: 257px;

  @media (min-width: 1200px) {
    margin-inline: auto;
    align-items: center;
    justify-content: center;
    max-width: 597px;
  }
}

h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 18px;
  color: var(--text-color-for-cards);
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  width: 100%;
  margin-bottom: 12px;

  @media (min-width: 1200px) {
    font-size: 40px;
    line-height: 0.85;
    margin-bottom: 24px;
  }
}

.home-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--text-color-for-cards);
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  width: 100%;
  margin-bottom: 12px;

  @media (min-width: 1200px) {
    font-size: 24px;
    line-height: 1.42;
    margin-bottom: 48px;
  }
}

.download-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 6px;
  padding: 10px 16px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.52);
  border-radius: 20px;
  background-color: var(--text-color-for-cards);
  text-decoration: none;
  margin-top: 12px;
   width: 164px;
  height: 30px;

  @media (min-width: 1200px) {
    font-size: 8px;
     font-size: 18px;
    padding: 24px;
    width: 383px;
    height: 70px;
    border-radius: 50px;
  }

  .google-play-icon {
    width: 12px;
    height: 13px;
    @media (min-width: 1200px) {
      width: 28px;
      height: 31px;
    }
  }
  .google-play-btn {
    display: flex;
    align-items: center;
    height: 100%;
    text-align: center;
    text-decoration: none;
    line-height: 1.2;
  }
  .google-play-btn .bold {
    font-weight: 700;
  }
}

.container {
  position: relative;
}

.decor {
  position: absolute;
  z-index: 2;
}
.decor-green-desk,
.decor-black-desk {
  display: none;
  @media (min-width: 1200px) {
    display: block;
  }
}

.decor-black-mob {
  /* width: 43px; */
  height: 92px;
    transform: rotate(-10deg);
  left: 254px;
  top: 90px;

}
.decor-green-mob {
  /* width: 43px; */
  height: 92px;

  transform: rotate(10deg);
  left: 200px;
  top: 130px;

}

@media (min-width: 1200px) {
  .decor-green-mob,
  .decor-black-mob {
    display: none;
  }
}
.decor-green-desk {
  width: 189px;
  height: 390px;
  /* transform: rotate(5deg); */
  left: 80px;
  /* top: 184px; */
}

.decor-black-desk {
  width: 189px;
  height: 390px;
  /* transform: rotate(-7deg); */
  left: 930px;
  top: 50px;
}
.decor-wrapper {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 1;
}
